* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho y alto */
}

/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif; /* Aplicado a todo el cuerpo */
    margin: 0; /* Elimina el margen del body */
    padding: 0; /* Elimina el padding del body */
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    display: flex;
    flex-direction: column;

}

/* Header */
header {
    background-color: #60320E; /* Marrón suave */
    padding: 1px;
}

.navbar {
    padding: 2px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
}

.navbar-nav {
    margin-left: auto;
    padding-right: 30px;
}

.nav-link {
    color: white !important; /* Cambiado a blanco para mejor contraste */
    margin-left: 2rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

/* Hero */
.hero {
    background-image: url("./img/local.jpg");
    background-size: cover;
    background-position: center;
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff; /* Color del texto */
    text-align: center; /* Centra el texto */
    padding: 0 40px; /* Padding horizontal */
}

.hero-content {
    max-width: 800px; /* Mantiene el ancho máximo */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
}

.logo {
    width: 100px;
    margin-bottom: 10px;
    padding-: 10px;
}

.hero h1 {
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 0 10px;
    background-color: #ff0000; /* Rojo */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

/* Instagram */
.instagram {
    text-align: center;
    padding: 30px;
}


/* Footer */
footer {
    background-color: #60320E;
    color: white;
    text-align: center;
    padding: 1rem 0; /* Mantén el padding */
    margin-top: 0; /* Asegúrate de que no haya margen superior */
}

.social-buttons .btn-link {
    color: white;
    margin: 0 2rem; /* Aumenta el margen entre los íconos */
    padding: 0.15rem;
}

/* Estilo para la imagen de cena */
.img-cena {
    max-width: 300px; /* Ajusta el tamaño de la imagen de cena */
    margin: 0 auto; /* Centra la imagen */
    border: 5px solid white; /* Agrega un marco blanco */
    border-radius: 10px; /* Opcional: redondea las esquinas del marco */
}

/* Estilos para el modal del formulario */
.modal-header {
    background-color: #60320E; /* Azul marino */
    color: white;
}

.modal-body {
    background-color: #fdfdfd; /* Blanco */
}

.footer {
    background-color: #60320E; /* Mantén el color que desees */
    color: white;
    text-align: center;
    padding: 2rem 0; /* Aumenta el padding para mover el contenido más abajo */
    margin-top: auto;
}

.footer .social-buttons a {
    color: white; /* Color de los enlaces en el footer */
    margin: 0 0px;
    text-decoration: none;
}

.footer .social-buttons a:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
}

.content-right {
    position: relative;
    z-index: 1;
}

.coffee-image {
    position: relative;
    z-index: 1;
}

.coffee-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .curved-shape {
        clip-path: path('M 0,100 C 30,90 70,80 100,100 L 100,100 L 0,100 Z');
    }
}

@media (max-width: 768px) {
    .curved-shape {
        clip-path: path('M 0,100 C 40,80 60,70 100,90 L 100,100 L 0,100 Z');
    }

    .hero {
        height: auto; /* Permite que la altura se ajuste al contenido */
        padding: 20px; /* Ajusta el padding */
    }

    .hero h1 {
        font-size: 2.5rem; /* Ajusta el tamaño del texto en móviles */
    }

    .promo-title {
        font-size: 20px; /* Ajusta el tamaño del título en móviles */
        font-family: 'Verah', serif;
    }

    .promo-discount {
        font-size: 40px; /* Ajusta el tamaño del descuento en móviles */
    }

    .price-section {
        padding: 1rem; /* Ajusta el padding en móviles */
    }

    .reservation-form {
        padding: 1rem; /* Ajusta el padding del formulario */
    }

    .reservation-form input {
        width: 100%; /* Asegura que los campos de entrada ocupen todo el ancho */
        margin-bottom: 1rem; /* Espaciado entre campos */
    }

    .btn-primary {
        width: 100%; /* Botón ocupa todo el ancho */
    }
}

/* General Styles */
.nav-link, h1, p, .read-more-btn, .copyright {
 
}



/* Hero Section Styles */
h1 {
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-family: 'PinkCrestelle', serif; /* Nombre que usarás en CSS */
}

p {
    font-size: 30px;
    font-weight: 400;
 
    opacity: 0.9;
    font-family: 'Verah', serif;
}

.read-more-btn {
    font-weight: 500;
    font-size: 1.2rem;
    background-color: #D4BBA3;
    color: white;
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

/* Footer Styles */
.footer {
    background-color: #60320E; /* Mantén el color que desees */
    color: white;
    text-align: center;
    padding: 2rem 0; /* Aumenta el padding para mover el contenido más abajo */
    margin-top: auto;
}

.social-buttons .btn-link {
    color: white;
    margin: 0 2rem; /* Aumenta el margen entre los íconos */
    padding: 1rem;
}

/* Alert Styles */
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Opcional: Estilos adicionales para el alert */
.alert-success {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}

/* Nuevas secciones */
.promo-section {
    padding: 4rem 0;
    background-color: #1B998B;
    color: white;
    text-align: center; /* Centra el texto */
}

.promo-title {
    font-size: 30px !important; /* Aumenta el tamaño de la fuente */
    margin-bottom: 1rem;
    font-family: 'Verah', serif;
}

.promo-discount {
    font-size: 60px !important; /* Usa !important si es necesario */
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'PinkCrestelle', serif; /* Aplica PinkCrestelle al texto de descuento */
}

.text-content p {
    font-size: 30px;
    
}

.content-left {
    padding: 2rem;
}

.text-content {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center; /* Centra el texto */
    margin: 0 20px; /* Agrega márgenes laterales */
    max-width: 600px; /* Establece un ancho máximo para el texto */
    margin-left: auto; /* Centra el texto horizontalmente */
    margin-right: auto; /* Centra el texto horizontalmente */
}

.coffee-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.form-section {
    display: flex;
    height: auto; /* Cambia a auto para que se ajuste al contenido */
    margin: 0; /* Asegúrate de que no haya margen */
    padding: 0; /* Asegúrate de que no haya padding */
    
}



.container {
    padding: 0; /* Elimina el padding del container */
    max-width: 100%; /* Asegura que ocupe todo el ancho */
    margin: 0; /* Elimina el margen del container */
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > .col,
.row.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.price-section {
    background-color: #60320E;
    color: white;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.price-section p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    text-align: center; /* Centra el texto */
    justify-content: center; /* Justifica el texto */
    max-width: 600px; /* Establece un ancho máximo para el texto */
    margin-left: auto; /* Centra el texto horizontalmente */
    margin-right: auto; /* Centra el texto horizontalmente */
}

.price-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.price-container {
    display: flex; /* Asegura que los precios estén en línea */
    justify-content: center; /* Centra los precios */
    align-items: center; /* Alinea verticalmente */
    border: 2px solid #1B998B; /* Borde celeste alrededor de ambos precios */
    border-radius: 5px; /* Bordes redondeados */
    padding: 0.5rem; /* Espaciado interno */
    background-color: #60320E; /* Fondo marrón para el contenedor */
}

.original-price {
    text-decoration: line-through;
    color: white; /* Color del precio original */
    font-size: 2rem;
    padding: 0.5rem 1rem; /* Espaciado interno */
}

.discount-price {
    color: white; /* Color del precio con descuento */
    font-weight: bold;
    font-size: 2.5rem;
    padding: 0.5rem 1rem; /* Espaciado interno */
    background-color: #1B998B; /* Fondo celeste */
    border-radius: 5px; /* Bordes redondeados */
}

.form-background {
    background-color: #1B998B;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.reservation-form {
    background: transparent;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

.reservation-form label {
    font-weight: 500;
    color: white;
}

.reservation-form .btn-primary {
    background-color: #60320E;
    border: none;
    padding: 0.8rem;
    font-weight: 500;
    margin-top: 1rem;
}

.reservation-form .btn-primary:hover {
    background-color: #4a2a0c;
}

@font-face {
    font-family: 'Verah'; /* Nombre que usarás en CSS */
    src: url('./fonts/Verahb__.ttf') format('truetype'); /* Ruta al archivo de la fuente */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PinkCrestelle'; /* Nombre que usarás en CSS */
    src: url('./fonts/PinkCrestelle-SemiBold.otf') format('opentype'); /* Ruta al archivo de la fuente */
    font-weight: normal;
    font-style: normal;
}

/* Estilos para el texto de la oferta */
.price-section p {
    font-size: 1.2rem; /* Aumenta el tamaño del texto - ajusta según sea necesario */
}

/* Aumenta el tamaño del texto de la oferta de manera específica */
.form-section .price-section p {
    font-size: 2rem !important; /* Ajusta el valor según lo deseado */
}

